<div class="global-wrapper">
    <div class="top-container">
        <div>
            <span class="reenie-beanie-regular title"> All's fair in love and poetry </span>
        </div>

        @if (showContent) {
            <div>
                <img [@fadeInOnEnter] src="https://c4.wallpaperflare.com/wallpaper/500/740/43/4k-beautiful-background-wallpaper-preview.jpg" class="top-img" />
            </div>

            <div class="first-paragraph">
                <p> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eget ex eu lacus tincidunt ultrices id imperdiet ante. Ut vitae mi lectus. Vestibulum ut ex maximus tortor elementum volutpat. Nunc pretium semper aliquam. Nullam id eleifend tellus. Praesent hendrerit augue ac mi suscipit, vel tempor arcu vestibulum. Nam laoreet laoreet lorem et tempus. Vestibulum consectetur sit amet tortor ultrices rhoncus. Sed vehicula sem id iaculis mattis. Sed quis tellus sit amet nulla tincidunt lobortis et a elit. Vivamus dapibus sem orci, eget imperdiet felis feugiat in. In varius ante sit amet risus hendrerit gravida. Praesent in efficitur velit. Nulla elit augue, eleifend nec mauris et, consectetur tincidunt nunc. </p>
            </div>
        }
    </div>

    @if (showContent) {
        <div class="content-container">

        </div>
    }
</div>