@if (videoId) {
    @if (isLoading) {
        <app-heart-overlay (playSong)="playVideo()"></app-heart-overlay>
    }

    <youtube-player
        [videoId]="videoId"
        [playerVars]="playerVars"
        disablePlaceholder
        style="display: none;"
    />
}

@if (showContent) {
    <div [@fadeInOnEnter]>
        <img src="assets/images/svg/edit.svg" class="edit-icon" (click)="openEditPage()" />
    </div>
}

<div class="global-wrapper" [ngStyle]="showContent ? {'background-color' : backgroundColor} : null">
    <div class="top-container">
        <div style="margin-bottom: 30px;">
            @if (pageText) {
                <span
                [class]="'title ' + (pageText.titleFont ? pageText.titleFont : '')"
                [ngStyle]="pageText.titleColor ? {'color' : pageText.titleColor} : null"
            >
                {{ pageText.title }}
            </span>
            }
        </div>

        @if (showContent && images) {
            <div [@fadeInOnEnter]>
                <div>
                    <img [src]="images.topImgSrc" class="top-img" />
                </div>

                <img src="assets/images/svg/heart-empty.svg" class="heart-empty-icon" />
    
                <div class="first-paragraph">
                    <p
                        [ngStyle]="{'color' : pageText.textColor}"
                        [ngClass]="pageText.textFont ? pageText.textFont : ''"
                    >
                        {{ pageText.topPr }}
                    </p>
                </div>
            </div>
        }
    </div>

    @if (showContent && images) {
        <mat-divider style="margin: 40px auto 40px auto; width: 50%;"></mat-divider>
        <div [@fadeInOnEnter] class="content-container">
            <div class="row" id="row-1">
                <div>
                    <img [src]="images.firstRowImgSrc" class="row-img" />
                </div>

                <div class="row-paragraph">
                    <p
                        [ngStyle]="{'color' : pageText.textColor}"
                        [ngClass]="pageText.textFont ? pageText.textFont : ''"
                    >
                        {{ pageText.firstRowPr }}
                    </p>
                </div>
            </div>

            <div class="row invert" id="row-2">
                <div class="row-paragraph">
                    <p
                        [ngStyle]="{'color' : pageText.textColor}"
                        [ngClass]="pageText.textFont ? pageText.textFont : ''"
                    >
                        {{ pageText.secondRowPr }} 
                    </p>
                </div>

                <div>
                    <img [src]="images.secondRowImgSrc" class="row-img" />
                </div>
            </div>

            <div class="row" id="row-2">
                <div>
                    <img [src]="images.thirdRowImgSrc" class="row-img" />
                </div>

                <div class="row-paragraph">
                    <p
                        [ngStyle]="{'color' : pageText.textColor}"
                        [ngClass]="pageText.textFont ? pageText.textFont : ''"
                    >
                        {{ pageText.thirdRowPr }}
                    </p>
                </div>
            </div>
        </div>
    }
</div>