<app-heart-overlay (playSong)="playVideo()"></app-heart-overlay>
<youtube-player
    [videoId]="videoId"
    [playerVars]="playerVars"
    disablePlaceholder
    style="display: none;"
/>

@if (showContent) {
    <div [@fadeInOnEnter]>
        <img src="assets/images/svg/edit.svg" class="edit-icon" (click)="openEditPage()" />
    </div>
}

<div class="global-wrapper">
    <div class="top-container">
        <div style="margin-bottom: 30px;">
            <span class="reenie-beanie-regular title"> All's fair in love and poetry </span>
        </div>

        @if (showContent) {
            <div [@fadeInOnEnter]>
                <div>
                    <img [src]="topImgSrc" class="top-img" />
                </div>

                <img src="assets/images/svg/heart-empty.svg" class="heart-empty-icon" />
    
                <div class="first-paragraph">
                    <p> {{ loremIpsum }} </p>
                </div>
            </div>
        }
    </div>

    @if (showContent) {
        <mat-divider style="margin: 40px auto 40px auto; width: 50%;"></mat-divider>
        <div [@fadeInOnEnter] class="content-container">
            <div class="row" id="row-1">
                <div>
                    <img [src]="firstRowImgSrc" class="row-img" />
                </div>

                <div class="row-paragraph">
                    <p> {{ loremIpsum }} </p>
                </div>
            </div>

            <div class="row invert" id="row-2">
                <div class="row-paragraph">
                    <p> {{ loremIpsum }} </p>
                </div>

                <div>
                    <img [src]="secondRowImgSrc" class="row-img" />
                </div>
            </div>

            <div class="row" id="row-2">
                <div>
                    <img [src]="thirdRowImgSrc" class="row-img" />
                </div>

                <div class="row-paragraph">
                    <p> {{ loremIpsum }} </p>
                </div>
            </div>
        </div>
    }
</div>