.edit-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
}

.edit-content {
    width: 300px;
    margin: 10px;
    margin-top: 20px;
    padding: 20px;
    padding-bottom: 20px;
    text-align: start;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 30px;
}

.edit-content button {
    font-size: 20px;
    margin-bottom: 10px;
}

.color-picker {
    display: inline-block;
    vertical-align: sub;
    margin-left: 20px;
}

.img-selector-wrapper {
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.hidden-file-selector {
    display: none;
}

.check-icon {
    width: 40px;
    height: 40px;
    filter: invert(48%) sepia(36%) saturate(663%) hue-rotate(88deg) brightness(95%) contrast(86%);
    vertical-align: text-bottom;
}

.field {
    width: 100%;
}

.update-wrapper {
    width: 100%;
    text-align: center;
}

.update-btn {
    width: 300px;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 40px;
    padding: 20px;
    color: white;
    background-color: green;
    border-radius: 30px;
}

@media only screen and (max-width: 600px) {
    .edit-wrapper {
        display: block;
        text-align: -webkit-center;
    }
}