<app-signup [currentUser]="currentUser" (login)="logInWithGoogle()"></app-signup>

@if (currentUser) {
    <div class="edit-content">
        @if (isLoading) {
            <mat-progress-bar mode="indeterminate"></mat-progress-bar>
        }

        <h2> Música: </h2>
        <mat-form-field appearance="fill" class="field">
            <mat-label>Código de vídeo do YouTube</mat-label>
            <input matInput [formControl]="musicVideoId" placeholder="Exemplo: p9d5HMNBFoE">
        </mat-form-field>

        <br /><br />
        <h2> Cor do Plano de Fundo </h2>
        <input [(colorPicker)]="backgroundColor" [style.background]="backgroundColor" class="color-picker" />

        <br /><br />
        <h2> Imagens: </h2>
        <div class="img-selector-wrapper">
            <input type="file" (change)="onFileSelected($event, 'top')" class="hidden-file-selector" #mainFile>
            <button mat-raised-button (click)="mainFile.click()" [disabled]="isLoading"> Imagem principal </button>
            @if (topFileBlob) {
            <img src="assets/images/svg/check.svg" alt="Check icon" class="check-icon">
            }
        </div>
        <mat-divider></mat-divider>
        <div class="img-selector-wrapper">
            <input type="file" (change)="onFileSelected($event, 'first')" class="hidden-file-selector" #firstFile>
            <button mat-raised-button (click)="firstFile.click()" [disabled]="isLoading"> Imagem 1 </button>
            @if (firstFileBlob) {
            <img src="assets/images/svg/check.svg" alt="Check icon" class="check-icon">
            }
        </div>
        <mat-divider></mat-divider>
        <div class="img-selector-wrapper">
            <input type="file" (change)="onFileSelected($event, 'second')" class="hidden-file-selector" #secondFile>
            <button mat-raised-button (click)="secondFile.click()" [disabled]="isLoading"> Imagem 2 </button>
            @if (secondFileBlob) {
            <img src="assets/images/svg/check.svg" alt="Check icon" class="check-icon">
            }
        </div>
        <mat-divider></mat-divider>
        <div class="img-selector-wrapper">
            <input type="file" (change)="onFileSelected($event, 'third')" class="hidden-file-selector" #thirdFile>
            <button mat-raised-button (click)="thirdFile.click()" [disabled]="isLoading"> Imagem 3 </button>
            @if (thirdFileBlob) {
            <img src="assets/images/svg/check.svg" alt="Check icon" class="check-icon">
            }
        </div>

        <br /><br />
        <h2> Textos: </h2>
        <mat-form-field appearance="outline" class="field">
            <mat-label>Texto superior</mat-label>
            <textarea matInput [formControl]="topPr"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="field">
            <mat-label>Parágrafo 1</mat-label>
            <textarea matInput [formControl]="firstRowPr"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="field">
            <mat-label>Parágrafo 2</mat-label>
            <textarea matInput [formControl]="secondRowPr"></textarea>
        </mat-form-field>
        <mat-form-field appearance="outline" class="field">
            <mat-label>Parágrafo 3</mat-label>
            <textarea matInput [formControl]="thirdRowPr"></textarea>
        </mat-form-field>

        <br /><br />
        <h2> Cor do Texto: </h2>
        <input [(colorPicker)]="textColor" [style.background]="textColor" class="color-picker" />
    </div>

    <div class="update-wrapper">
        <button
            mat-raised-button
            class="update-btn"
            style="color: white; background-color: green;"
            (click)="saveChanges()"
            [disabled]="isLoading"
        > Atualizar dados </button>
    </div>
}